body {
    margin: 10px;
    padding: 5px;
    background-image: url(http://4.bp.blogspot.com/-aahNBCYc-8M/T-EfBKI130I/AAAAAAAAWzI/ixsDNwwrl3g/s1600/mom.jpg);
}

#my-form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: center;
    width: 250px;
}

#thing-2 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    top:50px;
}

#myHeader {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#button {
    width: 100px;
}